@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@layer base {
  :root {
    --background: hsl(40.0000 60.0000% 98.0392%);
    --foreground: hsl(20.8696 18.4000% 24.5098%);
    --card: hsl(36.0000 41.6667% 95.2941%);
    --card-foreground: hsl(20.8696 18.4000% 24.5098%);
    --popover: hsl(36.0000 41.6667% 95.2941%);
    --popover-foreground: hsl(20.8696 18.4000% 24.5098%);
    --primary: hsl(25.9649 90.4762% 37.0588%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(34.2857 60.8696% 72.9412%);
    --secondary-foreground: hsl(33.3333 5.4545% 32.3529%);
    --muted: hsl(39.1304 45.0980% 90.0000%);
    --muted-foreground: hsl(25.0000 5.2632% 44.7059%);
    --accent: hsl(34.2857 68.2927% 83.9216%);
    --accent-foreground: hsl(33.3333 5.4545% 32.3529%);
    --destructive: hsl(0 70% 35.2941%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(43.5000 42.5532% 81.5686%);
    --input: hsl(43.5000 42.5532% 81.5686%);
    --ring: hsl(25.9649 90.4762% 37.0588%);
    --chart-1: hsl(25.9649 90.4762% 37.0588%);
    --chart-2: hsl(25.0000 5.2632% 44.7059%);
    --chart-3: hsl(35.4545 91.6667% 32.9412%);
    --chart-4: hsl(25.0000 5.2632% 44.7059%);
    --chart-5: hsl(40.6061 96.1165% 40.3922%);
    --sidebar: hsl(39.1304 45.0980% 90.0000%);
    --sidebar-foreground: hsl(20.8696 18.4000% 24.5098%);
    --sidebar-primary: hsl(25.9649 90.4762% 37.0588%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(35.4545 91.6667% 32.9412%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(43.5000 42.5532% 81.5686%);
    --sidebar-ring: hsl(25.9649 90.4762% 37.0588%);
    --font-sans: "Oxanium", sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.3rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 2px 4px -1px hsl(28 18% 25% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 4px 6px -1px hsl(28 18% 25% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 8px 10px -1px hsl(28 18% 25% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: hsl(24 9.8039% 10%);
    --foreground: hsl(60 4.7619% 95.8824%);
    --card: hsl(12.0000 6.4935% 15.0980%);
    --card-foreground: hsl(60 4.7619% 95.8824%);
    --popover: hsl(12.0000 6.4935% 15.0980%);
    --popover-foreground: hsl(60 4.7619% 95.8824%);
    --primary: hsl(24.5815 94.9791% 53.1373%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(33.3333 5.4545% 32.3529%);
    --secondary-foreground: hsl(20 5.8824% 90%);
    --muted: hsl(12.0000 6.4935% 15.0980%);
    --muted-foreground: hsl(24.0000 5.4348% 63.9216%);
    --accent: hsl(198.4615 46.4286% 21.9608%);
    --accent-foreground: hsl(20 5.8824% 90%);
    --destructive: hsl(0 72.2222% 50.5882%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(30 6.2500% 25.0980%);
    --input: hsl(30 6.2500% 25.0980%);
    --ring: hsl(24.5815 94.9791% 53.1373%);
    --chart-1: hsl(24.5815 94.9791% 53.1373%);
    --chart-2: hsl(198.6301 88.6640% 48.4314%);
    --chart-3: hsl(45.3982 93.3884% 47.4510%);
    --chart-4: hsl(24.0000 5.4348% 63.9216%);
    --chart-5: hsl(25.0000 5.2632% 44.7059%);
    --sidebar: hsl(12.0000 6.4935% 15.0980%);
    --sidebar-foreground: hsl(60 4.7619% 95.8824%);
    --sidebar-primary: hsl(24.5815 94.9791% 53.1373%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(198.6301 88.6640% 48.4314%);
    --sidebar-accent-foreground: hsl(212.3077 73.0337% 17.4510%);
    --sidebar-border: hsl(30 6.2500% 25.0980%);
    --sidebar-ring: hsl(24.5815 94.9791% 53.1373%);
    --font-sans: "Oxanium", sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.3rem;
    --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
    --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
    --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
    --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
    --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
    --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

* {
  border-color: hsl(var(--border));
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-sans);
  font-optical-sizing: auto;
}

.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}